body {
  background-color: #F0F2F5;
  color: #1c1e21;
  margin: 30px;
  font-size: 13px;
  line-height: 18px;
}

.main_contents{
 width: 600px;
}

table{
  width: 580px;
  height: 100%;
  table-layout: fixed;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #fff;
}

th,td{
  overflow-wrap : break-word;
  padding: 10px;
  width:50%;
}

.picture_img{
  text-align: center;
}

.picture_img img{
  width: 80%;
}
